body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine/e-Ukraine-Thin.otf") format("opentype");
  font-weight: 100; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine/e-Ukraine-UltraLight.otf") format("opentype");
  font-weight: 200; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine/e-Ukraine-Light.otf") format("opentype");
  font-weight: 300; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400; /* Обычный (Regular) шрифт */
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine/e-Ukraine-Medium.otf") format("opentype");
  font-weight: 500; /* Обычный (Regular) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Bold.otf") format("opentype");
  font-weight: 700; /* Полужирный (Bold) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Thin.otf") format("opentype");
  font-weight: 100; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-UltraLight.otf")
    format("opentype");
  font-weight: 200; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Light.otf") format("opentype");
  font-weight: 300; /* Легкий (Light) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Regular.otf")
    format("opentype");
  font-weight: 400; /* Обычный (Regular) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Medium.otf") format("opentype");
  font-weight: 500; /* Обычный (Regular) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-LOGO.otf") format("opentype");
  font-weight: 500; /* Обычный (Regular) шрифт */
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("./fonts/e-Ukraine-Head/e-UkraineHead-Bold.otf") format("opentype");
  font-weight: 700; /* Полужирный (Bold) шрифт */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* react-grid-layout styles */
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.apexcharts-text,
.apexcharts-datalabel {
  fill: #000;
  color: #000;
}

@keyframes loaderB {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
@keyframes loaderA {
  0% {
    top: 100%;
    left: 100%;
  }
  25% {
    top: 100%;
    left: 0%;
  }
  50% {
    top: 0%;
    left: 0%;
  }
  75% {
    top: 0%;
    left: 100%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
